.image {
    /* right: 50%; */
    transform:translateX(30%);
    /* align-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative; */
}

.americanBobtailImage {
    transform:translateX(10%);
}

/* .aeganImage {
    height: 800px;
    width: 1200px;
    display: flex;
    position: relative;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.abyssinianImage {
    height: 1445px;
    width: 1204px;
    display: flex;
    position: relative;
    position: absolute;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;   
}

.americanCurlImage {
    height: 1200px;
    weidth: 1600px;
}

.americanShorthairImage {
    height: 1200px;
    width: 1600px;
}

.AmericanWirehairImage {
    height: 936px;
    width: 1200px;
}

.arabianMauImage {
    height: 1554px;
    width: 2048px;
}

.australianMistImage {
    height: 1165px;
    width: 1231px;
}

.balineseImage {
    height: 1000px;
    width: 1600px;
}

.bambinoImage {
    height: 1030px;
    width: 1296px;
}

.bengalImage {
    height: 739px;
    width: 1100px;
}

.birmanImage {
    height: 814px;
    width: 1376;
}

.bombayImage {
    height: 650px;
    width: 1250px;
}

.britishLonghairImage {
    height: 960px;
    width: 960px;
}

.britishShortHairImage {
    height: 1457px;
    width: 1600px;
}

.burmeseImage {
    height: 650px;
    width: 1250px;
}

.burmillaImage {
    height: 960px;
    width: 960px;
}

.californiaSpangled {
    height: 688px;
    width: 1200px;
}

.chantillyTiffanyImage {
    height: 2938px;
    width: 2901px;
}

.chartreuxImage {
    height: 1024px;
    width: 768;
}

.chausieImage {
    height: 786px;
    width: 1100px;
}

.cheetohImage {
    height: 973px;
    width: 973px;
}

.colorpointShorthair {
    height: 1600px;
    width: 1363px;
}

.cornishRexImage {
    height: 1784px;
    width: 2976px;
}

.cymricImage {
    height: 900px;
    width: 1440px;
}

.cyprusImage {
    height: 786px;
    width: 1024px;
}

.devonRexImage {
    height: 1160px;
    width: 1729px;
}

.donskoyImage {
    height: 750px;
    width: 750px;
}

.dragonLiImage {
    height: 1080px;
    width: 1080px;
}

.egyptianMauImage {
    height: 2147px;
    width: 2475px;
}

.exoticShorthairImage {
    height: 768px;
    width: 1024px;
}

.havanaBrownImage {
    height: 823px;
    width: 1024px;
}

.himalayanImage {
    height: 961px;
    width: 1200px;
}

.japaneseBobtailImage {
    height: 750px;
    width: 1125px;
}

.javaneseImage {
    height: 1287px;
    width: 1232px;
}

.khaoManeeImage {
    height: 1037px;
    width: 1555px;
}

.koratImage {
    height: 627px;
    width: 1200px;
}

.kurilianImage {
    height: 750px;
    width: 750px;
}

.laPermImage {
    height: 890px;
    width: 1074px;
}

.maineCoonImage {
    height: 1080px;
    width: 1080px;
}

.manxImage {
    height: 466px;
    width: 700px;
}

.munchkinImage {
    height: 1200px;
    width: 1600px;
}

.nebelungImage {
    height: 862px;
    width: 1150px;
}

.norwegianForestCatImage {
    height: 1021px;
    width: 1200px;
}

.ocicatImage {
    height: 853px;
    width: 1280px;
}

.orientalImage {
    height: 1200px;
    width: 800px;
}

.pixieBobImage {
    height: 683px;
    width: 1024px;
}

.ragamuffinImage {
    height: 2000px;
    width: 3000px;
}

.ragdollImage {
    height: 1024px;
    width: 768px;
}

.russianBlueImage {
    height: 853px;
    width: 1280px;
}

.savannahImage {
    height: 1100px;
    width: 850px;
}

.scottishFoldImage {
    height: 1440px;
    width: 1920px;
}

.selkirkRexImage {
    height: 902px;
    width: 1920px;
}

.siameseImage {
    height: 811px;
    width: 1110px;
}

.siberianImage {
    height: 2560px;
    width: 4232px;
}

.singapuraImage {
    height: 1350px;
    width: 1080px;
}

.snowshoeImage {
    height: 750px;
    width: 1170px;
}

.somaliImage {
    height: 1008px;
    width: 850px;
}

.sphynxImage {
    height: 1067px;
    width: 1600px;
}

.tonkineseImage {
    height: 1080px;
    width: 1080px;
}

.toygerImage {
    height: 1080px;
    width: 1080px;
}

.turkishAngoraImage {
    height: 1104px;
    width: 736px;
}

.turkishVanImage {
    height: 1280px;
    width: 960px;
}

.yorkChocolateImage {
    height: 1203px;
    width: 800px;
} */