@import "breeds.css";
@import "jumbotron.css";
@import "navBar.css";
@import "cardImage.css";
@import "cardWrapper.css";
@import "results.css";
@import "pClass.css";
@import "h1Class.css";
@import "cardDiv.css";

body {
    background-color: black;
    color: white;
    height: 180vh;
}
